.Calculator-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background-color: #e8eef2;
  border-radius: 6px;
  margin: 5px;
  border: 2px dashed #77b6ea;
  box-shadow:
    0 0 0 4px #e8eef2,
    2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-size: large;
  flex: 1 1 auto;
}

.Calculator-container h1 {
  margin-top: 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.Calculator-container button {
  margin-top: 15px;
}

.Calculator-container input {
  margin-left: 5px;
}

.Calculator-container form {
  margin-bottom: 5px;
}

.Calculator-container h3 {
  margin: 0;
}
