body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.button {
  background-color: #155284; /* a11y contrast ratio of 7.2:1 with white text*/
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
